<%- include('partials/index-header') -%>

<div class="topdiv" >

    <img src="/images/img3.jpg" alt="">
    <div class="my-container">
        <br> <br> <br> <br> <br>
        
        <h1 style="margin-top:400px;"><a href="https://github.com/akhilchoudhary2k/mindMatch-kgp/"><img src="/images/github.png" style="width:200px"></a></h1>
        <br> <br>
        
        <table class="table table-image">
            <thead>
                <tr>
                    <th><h3><b>Contributions</b></h3></th>
                    <th><h3><b>Image</b></h3></th>
                    <th><h3><b>Author</b></h3></th>
                    <th><h3><b>Profile</b></h3></th>
                </tr>
            </thead>
            <tbody>
                <%info_list.forEach( function(item){%>
                    <tr>
                        <th><h4><%=item.contributions%></h4></th>
                        <td> <img src="<%=item.avatar_url%>" alt="" style="width: 70px; border-radius:50%" > </td>
                        <td> <%=item.login%> </td>
                        <td> <a href="<%=item.html_url%>">Github</a> </td>
                        <td></td>
                        
                    </tr>
                <%});%>
            </tbody>
        </table>            
        
    </div>
</div>


<%- include('partials/index-footer') -%>