<%- include('partials/user-header') -%>

<%#  as this is a ejs file
        user object is accessible here  %>

    <div class="jumbotron">
        <h1> Messages for <%=user.username %> </h1>
    </div>

    <div class="container">
        <div class="box">
            <h2>Recent messages</h2>
            <p class="lint">
                Total = <%= user.chat.length %>
            </p>
        </div>
    </div>


    <% user.chat.forEach( function(chatElement){ %>

        <div class="message row">
            <div class="col-3">
                <% var username = chatElement.sender == user.username ? chatElement.reciever : chatElement.sender; %>
                <% var profileURL = "/profile/"+username; %>
                <a style="color: black;" href=<%= profileURL %> > <img src="/images/o.png" style="height: 30px; width: 30px;" alt="">
                <b><%= username %></b> </a>

            </div>
            <div class="col-6">
                <% var m = chatElement.messages[chatElement.messages.length - 1] %>
                <b> <%= m.who %> : </b>  <%= m.value.substr(0,15)+ "..." %>
            </div>
            <div class="col-3">
                <% var url = "/chat/" + username %>
                <a href= <%= url %> class="btn btn-success form-control" > CHAT </a>
            </div>
        </div>
    <% } ); %>





<%- include('partials/user-footer') -%>
