    <%- include('partials/user-header') -%>

    <%#  as this is a ejs file
            user object is accessible here  %>

    <div class="jumbotron">
        <h1> DashBoard </h1>
    </div>

    <div style="text-align: center; margin-bottom: 30px; margin-top: 50px;">
        <span <%= user.hasFilledTheForm ? "hidden" : ""  %> class="warning">
            You have not filled the User Details form,
            <a href="/updatedetails">click here</a> to fill the form.
        </span>
    </div>

    <div class="box">
        <h2>Hi <%= user.username %> </h2> <br>
        <h5>Welcome to your HOMEPAGE</h5>
    </div>

    <div class="container">
        <h3 style="margin-top:70px;">Your Connections = <%=user.connections.length%> </h3>
        <table class="table table-striped  mytable">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">View</th>
                </tr>
            </thead>

            <tbody>
                <% for(var i=0; i < user.connections.length ; i++){ %>
                <tr>
                    <th scope="row"> <%= i+1 %> </th>
                    <td> <img src="/images/o.png" style="height:25px; width:25px;"> <b><%=user.connections[i]%></b> </td>
                    <td><b><%=fullNames[i][0]%></b></td>
                    <td><b><%=fullNames[i][1]%></b></td>
                    <% var link = "/profile/" + user.connections[i] %>
                    <% var link2 = "/chat/"+ user.connections[i] %>
                    <td style="width:300px;">


                        <!-- <div class="btn-group">
                            <button type="button" style="width: 100px;" class=" btn btn-success">View </button>
                            <button type="button" style="width: 100px;" class=" btn btn-outline-secondary">Chat</button>
                        </div> -->

                        <div class="row">
                                <a class="btn btn-success col-5" href= <%=link%> > View Profile </a>
                                <a style="margin-left: 15px;" class="btn btn-primary col-5" href=<%=link2%> >Chat</a>
                        </div>

                    </td>
                </tr>
                <% } %>

            </tbody>

        </table>
    </div>


    <%- include('partials/user-footer') -%>
