<%- include('partials/user-header') -%>

<%#  as this is a ejs file
        user object is accessible here  %>

<div class="jumbotron">
    <h1> Privacy settings </h1>
</div>


<div class="container">
    <div class="box">
        <h2>Change Privacy Settings</h2>
        <p class="lint">
            Here you can control your which details are visible to other users
        </p>
    </div>
</div>



<div class="formclass">

    <form class="form-horizontal" action="/privacysettings" method="post">
        <p style="margin-top: 0px; margin-bottom: 40px;"> Don't forget to <u> save the changes </u> at the bottom of page</p>
        <div class="form-row">
            <div class="col-md-4">
                <label>FirstName</label>
            </div>
            <div class="form-group col-md-4">
                <% var fnamefiller = "" + user.fname %>
                <input type="text" class="form-control" name="fname" disabled placeholder= <%=fnamefiller%>  >
            </div>
            <label class="switch" >
                <% var b = user.todisplay.includes( "fname" ); %>
                <% console.log(b); %>
                <input <%= b ? "checked" : "" %> type="checkbox" class="checked" name="fname" >
                <!-- else  <input type="checkbox" class="checked" name="fname" > -->

                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>LastName</label>
            </div>
            <div class="form-group col-md-4">
                <% var lnamefiller = "" + user.lname %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=lnamefiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "lname" ); %>
                <input <%= b ? "checked" : "" %> type="checkbox" class="" name="lname" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>UserName</label>
            </div>
            <div class="form-group col-md-4">
                <% var usernamefiller = "" + user.username %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=usernamefiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "username" ); %>
                <input <%= b ? "checked" : "" %>  type="checkbox" class="" name="username" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Email Id</label>
            </div>
            <div class="form-group col-md-4">
                <% var emailfiller = "" + user.email %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=emailfiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "email" ); %>
                <input <%= b ? "checked" : "" %>  type="checkbox" class="" name="email" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Age</label>
            </div>
            <div class="form-group col-md-4">
                <% var agefiller = "" + user.age %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=agefiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "age" ); %>
                <input <%= b ? "checked" : "" %>  type="checkbox" class="" name="age" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Gender</label>
            </div>
            <div class="form-group col-md-4">
                <% var genderfiller = "" + user.gender %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=genderfiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "gender" ); %>
                <input <%= b ? "checked" : "" %>  type="checkbox" class="" name="gender" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>CGPA in college</label>
            </div>
            <div class="form-group col-md-4">
                <% var cgpafiller = "" + user.cgpa %>
                <input type="text" class="form-control" name="" disabled placeholder= <%=cgpafiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "cgpa" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="cgpa" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Department</label>
            </div>
            <div class="form-group col-md-4">
                <% var departmentfiller = "" + user.department %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=departmentfiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "department" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="department" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Home Town</label>
            </div>
            <div class="form-group col-md-4">
                <% var hometownfiller = "" + user.hometown %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=hometownfiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "hometown" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="hometown" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Coaching</label>
            </div>
            <div class="form-group col-md-4">
                <% var coachingfiller = "" + user.coaching %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=coachingfiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "coaching" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="coaching" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Kotaite</label>
            </div>
            <div class="form-group col-md-4">
                <% var fromkotafiller = "" + user.fromkota %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=fromkotafiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "fromkota" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="fromkota" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>EAA</label>
            </div>
            <div class="form-group col-md-4">
                <% var eaafiller = "" + user.eaa %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=eaafiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "eaa" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="eaa" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Sports Interest</label>
            </div>
            <div class="form-group col-md-4">
                <% var sportsvaluefiller = "" + user.sportsvalue %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=sportsvaluefiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "sportsvalue" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="sportsvalue" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Tech Interest</label>
            </div>
            <div class="form-group col-md-4">
                <% var techvaluefiller = "" + user.techvalue %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=techvaluefiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "techvalue" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="techvalue" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Socult Interest</label>
            </div>
            <div class="form-group col-md-4">
                <% var socultvaluefiller = "" + user.socultvalue %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=socultvaluefiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "socultvalue" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="socultvalue" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>DepC Interest</label>
            </div>
            <div class="form-group col-md-4">
                <% var depcinterestfiller = "" + user.depcinterest %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=depcinterestfiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "depcinterest" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="depcinterest" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Personality Type</label>
            </div>
            <div class="form-group col-md-4">
                <% var introextrovertfiller = "" + user.introextrovert %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=introextrovertfiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "introextrovert" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="introextrovert" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Research Group Interest</label>
            </div>
            <div class="form-group col-md-4">
                <% var researchgroupinterestfiller = "" + user.researchgroupinterest %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=researchgroupinterestfiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "researchgroupinterest" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="researchgroupinterest" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Hobies</label>
            </div>
            <div class="form-group col-md-4">
                <% var hobbiesfiller = "" + user.hobbies %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=hobbiesfiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "hobbies" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="hobbies" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Socities</label>
            </div>
            <div class="form-group col-md-4">
                <% var socitiesfiller = "" + user.socities %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=socitiesfiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "socities" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="socities" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Interest in Project</label>
            </div>
            <div class="form-group col-md-4">
                <% var projectsinterestvaluefiller = "" + user.projectsinterestvalue %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=projectsinterestvaluefiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "projectsinterestvalue" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="projectsinterestvalue" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Coding Skills</label>
            </div>
            <div class="form-group col-md-4">
                <% var programmingexperiancevaluefiller = "" + user.programmingexperiancevalue %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=programmingexperiancevaluefiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "programmingexperiancevalue" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="programmingexperiancevalue" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Future Plan</label>
            </div>
            <div class="form-group col-md-4">
                <% var futureorientationorderfiller = "" + user.futureorientationorder %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=futureorientationorderfiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "futureorientationorder" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="futureorientationorder" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Exams I'am prepairing for:</label>
            </div>
            <div class="form-group col-md-4">
                <% var competitiveexamsorderfiller = "" + user.competitiveexamsorder %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=competitiveexamsorderfiller%>  >
            </div>
            <label class="switch"  >
                <% var b = user.todisplay.includes( "competitiveexamsorder" ); %>
                <input  <%= b ? "checked" : "" %> type="checkbox" class="" name="competitiveexamsorder" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-group">
            <button type="submit" class="form-control btn btn-success btn-lg space" >Save Changes</button>
        </div>

    </form>


</div>


<%- include('partials/user-footer') -%>
