<%- include('partials/user-header') -%>

<%#  as this is a ejs file
        user object is accessible here  %>

<div class="jumbotron">
    <h1> Privacy settings </h1>
</div>


<div class="container">
    <div class="box">
        <h2>Change Privacy Settings</h2>
        <p class="lint">
            Here you can control your which details are visible to other users
        </p>
    </div>
</div>



<div class="formclass">

    <form class="form-horizontal" action="/privacysettings" method="post">
        <p style="margin-top: 0px; margin-bottom: 40px;"> Don't forget to <u> save the changes </u> at the bottom of page</p>
        <div class="form-row">
            <div class="col-md-4">
                <label>FirstName</label>
            </div>
            <div class="form-group col-md-4">
                <% var fnamefiller = "" + user.fname %>
                <input type="text" class="form-control" name="fname" disabled placeholder= <%=fnamefiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-fname" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>LastName</label>
            </div>
            <div class="form-group col-md-4">
                <% var lnamefiller = "" + user.lname %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=lnamefiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-lname" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>UserName</label>
            </div>
            <div class="form-group col-md-4">
                <% var usernamefiller = "" + user.username %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=usernamefiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-username" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Email Id</label>
            </div>
            <div class="form-group col-md-4">
                <% var emailfiller = "" + user.email %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=emailfiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-email" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Age</label>
            </div>
            <div class="form-group col-md-4">
                <% var agefiller = "" + user.age %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=agefiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-age" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Gender</label>
            </div>
            <div class="form-group col-md-4">
                <% var genderfiller = "" + user.gender %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=genderfiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-gender" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>CGPA in college</label>
            </div>
            <div class="form-group col-md-4">
                <% var cgpafiller = "" + user.cgpa %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=cgpafiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-cgpa" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Department</label>
            </div>
            <div class="form-group col-md-4">
                <% var departmentfiller = "" + user.department %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=departmentfiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-department" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Home Town</label>
            </div>
            <div class="form-group col-md-4">
                <% var hometownfiller = "" + user.hometown %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=hometownfiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-hometown" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Coaching</label>
            </div>
            <div class="form-group col-md-4">
                <% var coachingfiller = "" + user.coaching %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=coachingfiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-coaching" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Kotaite</label>
            </div>
            <div class="form-group col-md-4">
                <% var fromkotafiller = "" + user.fromkota %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=fromkotafiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-fromkota" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>EAA</label>
            </div>
            <div class="form-group col-md-4">
                <% var eaafiller = "" + user.eaa %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=eaafiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-eaa" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Sports Interest</label>
            </div>
            <div class="form-group col-md-4">
                <% var sportsvaluefiller = "" + user.sportsvalue %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=sportsvaluefiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-sportsvalue" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Tech Interest</label>
            </div>
            <div class="form-group col-md-4">
                <% var techvaluefiller = "" + user.techvalue %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=techvaluefiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-techvalue" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Socult Interest</label>
            </div>
            <div class="form-group col-md-4">
                <% var socultvaluefiller = "" + user.socultvalue %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=socultvaluefiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-socultvalue" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>DepC Interest</label>
            </div>
            <div class="form-group col-md-4">
                <% var depcinterestfiller = "" + user.depcinterest %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=depcinterestfiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-depcinterest" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Personality Type</label>
            </div>
            <div class="form-group col-md-4">
                <% var introextrovertfiller = "" + user.introextrovert %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=introextrovertfiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-introextrovert" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Research Group Interest</label>
            </div>
            <div class="form-group col-md-4">
                <% var researchgroupinterestfiller = "" + user.researchgroupinterest %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=researchgroupinterestfiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-researchgroupinterest" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Hobies</label>
            </div>
            <div class="form-group col-md-4">
                <% var hobbiesfiller = "" + user.hobbies %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=hobbiesfiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-hobbies" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Socities</label>
            </div>
            <div class="form-group col-md-4">
                <% var socitiesfiller = "" + user.socities %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=socitiesfiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-socities" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Interest in Project</label>
            </div>
            <div class="form-group col-md-4">
                <% var projectsinterestvaluefiller = "" + user.projectsinterestvalue %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=projectsinterestvaluefiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-projectsinterestvalue" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Coding Skills</label>
            </div>
            <div class="form-group col-md-4">
                <% var programmingexperiancevaluefiller = "" + user.programmingexperiancevalue %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=programmingexperiancevaluefiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-programmingexperiancevalue" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Future Plan</label>
            </div>
            <div class="form-group col-md-4">
                <% var futureorientationorderfiller = "" + user.futureorientationorder %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=futureorientationorderfiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-futureorientationorder" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label>Exams I'am prepairing for:</label>
            </div>
            <div class="form-group col-md-4">
                <% var competitiveexamsorderfiller = "" + user.competitiveexamsorder %>
                <input type="text" class="form-control" name="lname" disabled placeholder= <%=competitiveexamsorderfiller%>  >
            </div>
            <label class="switch"  >
                <input type="checkbox" class="" name="show-competitiveexamsorder" >
                <span class="slider round"></span>
            </label>
        </div>

        <div class="form-group">
            <button type="submit" class="form-control btn btn-success btn-lg space" name="changePrivacySettings">Save Changes</button>
        </div>

    </form>


</div>


<%- include('partials/user-footer') -%>
